// pefer BOM
@import "./Components/Example.scss";
@import "./Components/GameSprint.scss";

// plugins
@import "./plugins";

//layout
@import "./layout/layout";

// components
@import "./Components/helpers";
@import "./Components/base";

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body > .container {
  padding-top: 10px;
}