// pefer BOM
@import "./Components/Example.scss";
@import "./Components/GameSprint.scss";
@import "./Components/GameAudioCall.scss";
@import "./Components/savannah.scss";
@import "./Components/dictionary.scss";
@import "./Components/PageAboutTeam.scss";

// plugins
@import "./plugins";

//layout
@import "./layout/layout";

// components
@import "./Components/helpers";
@import "./Components/base";
@import "./Components/EnglishPuzzle";

@import "./Components/Preloader";
@import "./Components/ProgressBar";

@import "./Components/Stats";

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  min-height: 100vh;
}

body > .container {
  padding-top: 10px;
  min-height: 140vh;
}
