.speakit {
  &__border {
    border: 1px solid green;
    margin: 2px;
    cursor: pointer;
  }

  &__button-hidden {
    display: none;
  }

  &__word-card {
    &_recognized {
      background-color: green;
    }
  }
}