.day-progress__container {
  width: 100vw;
  position: fixed;
  bottom: 0px;
  text-align: center;
  z-index: 9000;
}

.day-progress {
  margin-bottom: 1rem;
  background-color: rgba(90, 90, 90, 0.85);
  border-radius: 10px;
  border-style: ridge;
  padding: 1rem;

  &.hidden {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: auto 10rem;
  }

  p {
    margin: unset;
    color: #ddd;
  }
}

@media (max-width: 600px) {
  .day-progress {
    padding: 0.5rem;
    bottom: 0;
  }
}
