.day-progress {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(90, 90, 90, 0.85);
  border-radius: 10px;
  border-style: ridge;
  padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 4;

  &.hidden {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: auto 10rem;
  }

  p {
    margin: unset;
    color: #ddd;
  }
}

@media (max-width: 600px) {
  .day-progress {
    padding: 0.5rem;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
}
