.vert-align {
  display: inline-flex !important;
  align-items: center;
}
.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}