// EP - English Puzzle

.EP-start__wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EP-start__panel {
  width: 100%;
}

.EP-start__buttons {
  margin-top: 60px;
}
.canvas-item:not(:first-child) {
  margin-left: -8px;
}

.canvas-item {
  height: 48px;
  cursor: pointer;
}

.group-words {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  &>* {
    margin: 5px 10px;
  }
}
.engPuz__drop-section {
  min-height: 400px;
}
.engPuz__drag-section {
  min-height: 50px;
}
.engPuz__drop-section--line {
  min-height: 50px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
