// EP - English Puzzle

.EP-start__wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EP-start__panel {
  width: 100%;
}

.EP-start__buttons {
  margin-top: 60px;
}